apiVersion: v1
data:
  AGENT_DOCKER_IMAGE: quay.io/edge-infrastructure/assisted-installer-agent@sha256:b517dda750a9d2edd1db019f710bac675e662296cb82b0193706f074bbf38119
  AUTH_TYPE: local
  BASE_DNS_DOMAINS: ""
  CHECK_CLUSTER_VERSION: "True"
  CONTROLLER_IMAGE: quay.io/edge-infrastructure/assisted-installer-controller@sha256:f6afdefaf4bc98d94950e38ab7e1aef122d25ef19929893730cf891648aa778e
  CREATE_S3_BUCKET: "False"
  DATA_UPLOAD_ENDPOINT: https://console.redhat.com/api/ingress/v1/upload
  DEPLOY_TARGET: k8s
  DEPLOYMENT_TYPE: Operator
  DEPLOYMENT_VERSION: quay.io/edge-infrastructure/assisted-service@sha256:0b4dd48807e19d15c14efb8b49f0c00fe7ac440bb615e1fb269a24d314e01465
  ENABLE_AUTO_ASSIGN: "True"
  ENABLE_DATA_COLLECTION: "True"
  ENABLE_KUBE_API: "True"
  ENABLE_SINGLE_NODE_DNSMASQ: "True"
  HTTPS_CERT_FILE: /etc/assisted-tls-config/tls.crt
  HTTPS_KEY_FILE: /etc/assisted-tls-config/tls.key
  HW_VALIDATOR_REQUIREMENTS: |
    [{
      "version": "default",
      "master": {
        "cpu_cores": 4,
        "ram_mib": 16384,
        "disk_size_gb": 100,
        "installation_disk_speed_threshold_ms": 10,
        "network_latency_threshold_ms": 100,
        "packet_loss_percentage": 0
      },
      "worker": {
        "cpu_cores": 2,
        "ram_mib": 8192,
        "disk_size_gb": 100,
        "installation_disk_speed_threshold_ms": 10,
        "network_latency_threshold_ms": 1000,
        "packet_loss_percentage": 10
      },
      "sno": {
        "cpu_cores": 8,
        "ram_mib": 16384,
        "disk_size_gb": 100,
        "installation_disk_speed_threshold_ms": 10
      },
      "edge-worker": {
        "cpu_cores": 2,
        "ram_mib": 8192,
        "disk_size_gb": 15,
        "installation_disk_speed_threshold_ms": 10
      }
    }]
  IMAGE_SERVICE_BASE_URL: https://assisted-image-service-assisted-installer.apps.dev.redhat.com
  INSTALL_INVOKER: assisted-installer-operator
  INSTALL_RH_CA: "false"
  INSTALLER_IMAGE: quay.io/edge-infrastructure/assisted-installer@sha256:234d500abfcfc0d1f2d3f40babf290f88796097a524f1bfb026d41640db7216d
  IPV6_SUPPORT: "True"
  ISO_CACHE_DIR: /data/cache
  ISO_IMAGE_TYPE: minimal-iso
  ISO_WORKSPACE_BASE_DIR: /data
  JWKS_URL: https://api.openshift.com/.well-known/jwks.json
  LOG_FORMAT: text
  LOG_LEVEL: info
  MUST_GATHER_IMAGES: ""
  NAMESPACE: assisted-installer
  OS_IMAGES: '[{"openshift_version":"4.9","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.9/4.9.45/rhcos-4.9.45-x86_64-live.x86_64.iso","version":"49.84.202207192205-0"},{"openshift_version":"4.10","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.10/4.10.37/rhcos-4.10.37-x86_64-live.x86_64.iso","version":"410.84.202210040010-0"},{"openshift_version":"4.10","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.10/4.10.37/rhcos-4.10.37-aarch64-live.aarch64.iso","version":"410.84.202210040011-0"},{"openshift_version":"4.11","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.11/4.11.48/rhcos-4.11.48-x86_64-live.x86_64.iso","version":"411.86.202308081056-0"},{"openshift_version":"4.11","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.11/4.11.48/rhcos-4.11.48-aarch64-live.aarch64.iso","version":"411.86.202308081056-0"},{"openshift_version":"4.11","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.11/4.11.48/rhcos-4.11.48-s390x-live.s390x.iso","version":"411.86.202308081056-0"},{"openshift_version":"4.11","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.11/4.11.48/rhcos-4.11.48-ppc64le-live.ppc64le.iso","version":"411.86.202308081056-0"},{"openshift_version":"4.12","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.12/4.12.30/rhcos-4.12.30-x86_64-live.x86_64.iso","version":"412.86.202308081039-0"},{"openshift_version":"4.12","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.12/4.12.30/rhcos-4.12.30-aarch64-live.aarch64.iso","version":"412.86.202308081039-0"},{"openshift_version":"4.12","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.12/4.12.30/rhcos-4.12.30-s390x-live.s390x.iso","version":"412.86.202308081039-0"},{"openshift_version":"4.12","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.12/4.12.30/rhcos-4.12.30-ppc64le-live.ppc64le.iso","version":"412.86.202308081039-0"},{"openshift_version":"4.13","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.13/4.13.10/rhcos-4.13.10-x86_64-live.x86_64.iso","version":"413.92.202307260246-0"},{"openshift_version":"4.13","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.13/4.13.10/rhcos-4.13.10-aarch64-live.aarch64.iso","version":"413.92.202307260246-0"},{"openshift_version":"4.13","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.13/4.13.10/rhcos-4.13.10-ppc64le-live.ppc64le.iso","version":"413.92.202307260246-0"},{"openshift_version":"4.13","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.13/4.13.10/rhcos-4.13.10-s390x-live.s390x.iso","version":"413.92.202307260246-0"},{"openshift_version":"4.14","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.14/4.14.15/rhcos-4.14.15-x86_64-live.x86_64.iso","version":"414.92.202402130420-0"},{"openshift_version":"4.14","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.14/4.14.15/rhcos-4.14.15-aarch64-live.aarch64.iso","version":"414.92.202402130420-0"},{"openshift_version":"4.14","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.14/4.14.15/rhcos-4.14.15-ppc64le-live.ppc64le.iso","version":"414.92.202402130420-0"},{"openshift_version":"4.14","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.14/4.14.15/rhcos-4.14.15-s390x-live.s390x.iso","version":"414.92.202402130420-0"},{"openshift_version":"4.15","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-x86_64-live.x86_64.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.15","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-aarch64-live.aarch64.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.15","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-ppc64le-live.ppc64le.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.15","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-s390x-live.s390x.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.16","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/pre-release/4.16.0-ec.4/rhcos-4.16.0-ec.4-x86_64-live.x86_64.iso","version":"416.94.202403071059-0"},{"openshift_version":"4.16","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-aarch64-live.aarch64.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.16","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-ppc64le-live.ppc64le.iso","version":"415.92.202402130021-0"},{"openshift_version":"4.16","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.15/4.15.0/rhcos-4.15.0-s390x-live.s390x.iso","version":"415.92.202402130021-0"}]'
  PUBLIC_CONTAINER_REGISTRIES: quay.io,registry.svc.ci.openshift.org
  REGISTRY_CREDS: ""
  S3_USE_SSL: "false"
  SELF_VERSION: quay.io/edge-infrastructure/assisted-service@sha256:0b4dd48807e19d15c14efb8b49f0c00fe7ac440bb615e1fb269a24d314e01465
  SERVE_HTTPS: "True"
  SERVICE_BASE_URL: https://assisted-service-assisted-installer.apps.dev.redhat.com
  SERVICE_CA_CERT_PATH: /etc/assisted-ingress-cert/ca-bundle.crt
  SKIP_CERT_VERIFICATION: "True"
  STORAGE: filesystem
kind: ConfigMap
metadata:
  name: assisted-service
  namespace: assisted-installer

